body{
  background-color: azure;
}

.app{
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed{
   text-decoration: line-through 2px rgb(110, 6, 6);
   background-color: #f6d0e9;

  }
  
  ul, li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
  }

  h1{
    font-family: 'Playfair Display', serif;
  }

  .container{
    display: flex;
    justify-content: center;
  }

.doit{
  background: #65aa06;
  margin-top: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}
.delete {
  background: #d30100;
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}

input{
  flex:1;
  padding: 8px;
  margin: 10px;
  font-family: 'Playfair Display', serif;
}
img{
  border-radius: 50%;
}